:root {
    --main-color: #FFFFFF;
    --sub-color: #000000;
}


html,
body {
    height: 100%;
    margin: 0;
}

#home_screen {
    background-color: var(--main-color);
    height: 100%;
    justify-content: center;
    max-width: 1500px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.directory_path:hover {
    text-decoration: underline;
}

.card {
    transition: all 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.card-body {
    height: 200px;
    /* set the height of the card body */
}

#cat_text,
#author_text {
    height: 24px;
    margin: 0;
    text-overflow: ellipsis;
    font-size: 0.875rem;
}

#title_text {
    height: 48px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#description_text {
    margin: 0;
    word-break: break-word;
    overflow-wrap: break-word;
    font-size: 0.875rem;
    line-height: 1.5;
    height: 3.9375rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


#search_result {
    justify-content: center;
    justify-items: center;
    margin: 0 auto; /* added */
}


#home_jumbotron {
    height: 300px;
}


#blog_name {
    color: var(--sub-color);
}

/* --------- EDITOR STYLES  ---------------------------------------------------------------------------------------- */

#prev_img img {
    height: 60px;
    width: 60px;
}

#prev_thumbnail img {
    height: 300px;
    width: 300px;
}



/* --------- POST STYLES  ---------------------------------------------------------------------------------------- */
#post_content {
    width: 800px;
}

#post_content img {
    width: 800px;
    justify-content: center;
}


@media (max-width: 1500px) {

    #left-float,
    #right-float {
        display: none;
    }
}

#left-float {
    width: 200px;
    height: 500px;
    left: 150px;
    top: 250px;
}

#right-float {
    width: 300px;
    right: 50px;
    top: 250px;
    border-left: 1px solid #e8dddd;
}

#index_group a {
    color: #c8c1c1;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 5px;
}

#index_group a:hover {
    color: black;
}

#author_profile {
    margin-top: 300px;
    margin-bottom: 100px;
}
#user_nick a{
    text-decoration: none;
    color: black;
} 
#user_nick a:hover {
    text-decoration: underline;
}
#user_description {
    font-size: 18px;
}
#prev_next_cards {
    margin-top: 10px;
}
.pn_card  {
    transition: all 0.2s ease-in-out;
}
.pn_card:hover{
    transform: translateY(-10px);
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.pn_card a {
    text-decoration: none;
}
.pn_card div {
    color: black;
}
.pn_title {
    font-size: 20px;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: black;
}
.pn_description {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: black;
}


#cat_text,
#author_text {
    height: 24px;
    margin: 0;
    text-overflow: ellipsis;
    font-size: 0.875rem;
}


#description_text {
    margin: 0;
    word-break: break-word;
    overflow-wrap: break-word;
    font-size: 0.875rem;
    line-height: 1.5;
    height: 3.9375rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.share-icon-wrapper {
    width: 36px;
    height: 36px;
    border-radius: 30%;
    border: 1px solid #c8c1c1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.share-icon-wrapper:hover {
    color: black;
}
#share-icon a{
    color: #c8c1c1;
}
#share-icon a:hover {
    color: #787873;
}
.arrow-icon-wrapper {
    width: 36px;
    height: 36px;
    border-radius: 30%;
    border: 1px solid #c8c1c1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

#arrow-icon a{
    color: #c8c1c1;
    text-decoration: none;
}
#arrow-icon a:hover {
    color: #787873;
}
#clipboard-message {
    color: #72CC82;
    margin-top: 10px;
    display: none;
}
