.life {
    font-size: 75px;
}

.jumbotron {
    margin-bottom: 0;
    padding-top: 32px;
    padding-bottom: 0;
    background-color: white;
}

.my-nav-link {
    font-size: 20px !important;
    padding: 5px 20px !important;
}

.search-area {
    position: relative;
    width: 582px;
    height: 52px;
    border: 2px solid #000000;
    border-radius: 2px;
}

.search-input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    font-weight: 700;
    outline: 0;
}

.search-btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 56px;
}

/* --------- EDITOR STYLES  ---------------------------------------------------------------------------------------- */

.editor__editable,
/* Classic build. */
main .ck-editor[role='application'] .ck.ck-content,
/* Decoupled document build. */
.ck.editor__editable[role='textbox'],
.ck.ck-editor__editable[role='textbox'],
/* Inline & Balloon build. */
.ck.editor[role='textbox'] {
    width: 100%;
    background: #fff;
    font-size: 1em;
    line-height: 1.6em;
    min-height: var(--ck-sample-editor-min-height);
    padding: 1.5em 2em;
}

.ck.ck-editor__editable {
    background: #fff;
    border: 1px solid hsl(0, 0%, 70%);
    width: 100%;
}

/* Because of sidebar `position: relative`, Edge is overriding the outline of a focused editor. */
.ck.ck-editor__editable {
    position: relative;
    z-index: var(--ck-sample-editor-z-index);
}

.editor-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    width: 100%;
    justify-content: center;
}

#prev_img img {
    height: 60px;
    width: 60px;
}
#prev_thumbnail img {
    height: 300px;
    width: 300px;
}

